.itemtabuleiro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.jogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 430px){
    .jogo{
        flex-direction: column;
    }
}