.gameoption{
    border: 2px solid white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}

.winner{
    border: 2px solid rgb(32, 170, 62);
}