.botao{
    background-color: rgb(21, 0, 255);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.botao:hover{
    background-color: rgb(180, 242, 242);
}